// bootstrap modify Color
$primary : #106DB3;
$secondary : #F49223;
$body-color: #092A49;
$body_color: $body-color;

// Custom Color
$columbiaBlue : #BDD9E8;
$apricot: #FDCFAE;
$flame : #E45B27;
$davys_gray : #5C5C5C;
$white_smoke: #F2F2F2;
$apricotLight: #FDCFAE4D;




// bootstrap modify font size
$h1-font-size : clamp(34px, 3vw + 0.5rem , 54px); 
$h2-font-size : clamp(30px, 3vw, 44px);
$h3-font-size : clamp(26px, 2vw + 1rem , 37px);
$h4-font-size : clamp(20px, 2vw, 31px);
$h5-font-size : clamp(16px, 1vw + 0.8rem, 26px);
$h6-font-size : clamp(13px, 1vw + 0.5rem, 22px);

// custom fonts
$font20 : clamp(16px, 1vw + 0.4rem , 20px);
$font18 : clamp(16px, 1vw + 0.2rem , 18px);
$fontP22: clamp(16px, 1vw + 0.5rem, 22px);


// bootstrap modify font size
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          900;


// custom breakpoints
$breakpoints: (
  xs   : 320,
  sm   : 576px,
  md   : 768px,
  lg   : 992px,
  xl   : 1200px,
  xxl  : 1400px,
  // xxxl : 1601px
);

