.product-box{  min-height: 263px; display: flex;  padding: 20px 24px 30% 60px;
    .pro-box-bg{background: #FDCFAE40; position: absolute; left: 60px; right: 0; top:20px; bottom: 20px; border-radius: 10px; width: auto;  }
    .product-body , .product-img{ z-index: 1; }
    .sitebtn{ position: absolute; bottom: 43px; right: 25px;}
    .product-img{position: absolute; bottom: 0; width: 50%; left: 0;}
    .product-img { width: calc(50% - 14px); }
    .product-body{ margin-left: 50%; }  
}
.product-row{
    & > *:nth-child(even){ 
        .pro-box-bg{background: #BDD9E84D; }
        .btn.btn-arrow.btn-arrow-bg::after{background: $columbiaBlue; }
    }
}


.modal-w-900{ 
    @include breakpoint('md', min) { max-width: 700px;}
    @include breakpoint('lg', min) { max-width: 900px;}
}


.modal-backdrop{ background: #092A49 ; 
  &.show{ opacity: 0.6;}
}

.custom-modal{
    .modal-body{ padding: 45px 40px 45px 45px;
      @include breakpoint('sm', max) { padding: 20px;}
    }
    .modal-content{ border: none; box-shadow: 0px 3px 6px #00000033; border-radius: 8px;}
   .btn-close{ position: absolute;  opacity: 1; background-image: none; padding: 0; top:12px; right:13px; width: auto; height: auto; z-index: 2; 
    @include breakpoint('sm', max) { 
        top: 0px;
        right: 6px;
        width: 14px;
    }
   }
  
   .app-left-panel{ padding-right: 45px; 
      @include breakpoint('lg', max) {padding-right: 0px; padding-bottom: 45px;  }
   }
   .app-details{ 
      .media-body{ margin-left: 20px; }
   }

  .details-bottom-sec{  border-top: 2px solid  $white_smoke; padding-top: 15px; }
  .app-img-wrap{ position: relative; height: 100%;
    &::before{ opacity: 0.8; border-radius: 10px; background: transparent linear-gradient(142deg, #F49223 0%, #106DB3 100%) 0% 0% no-repeat padding-box; @include afterbefore();}
    img{ max-height: 400px;}
   }
  .product-size-list{ gap: 13px; }

  //  .scrollable-sec{max-height: 305px; overflow-y: auto; padding-right:5px;}

}



.product-item{ display: none; }



