.product-box{  min-height: 263px; display: flex;  padding: 35px 24px 127px 56%;
  @include breakpoint('xxl', max) {padding-left: 51%;
    .sitebtn{left: 51%;}
  }
  @include breakpoint('xl', max) { padding-left: 42%; 
    .sitebtn{left: 42%;}
  }
  @include breakpoint('lg', max) {padding-left: 51%; 
    .sitebtn{left: 51%;}
  }
  @include breakpoint('md', max) { padding-left: 49%; 
    .sitebtn{left: 49%;}
  }
  // @include breakpoint('sm', max) { padding-bottom: 127px; }


    .pro-box-bg{background: #FDCFAE40; position: absolute; left: 60px; right: 0; top:20px; bottom: 20px; border-radius: 10px; width: auto;  }
    .product-body , .product-img{ z-index: 1; }
    .sitebtn{ position: absolute; bottom: 43px;}
    .product-img{position: absolute; bottom: 0; width: 50%; left: 0;}
    .product-img { width: calc(50% - 14px); }
    // .product-body{ margin-left: 49%; 
    //    @include breakpoint('xl', max) {margin-left: 39%;  }
    
    // }  
}
.product-row{
    & > *:nth-child(even){ 
        .pro-box-bg{background: #BDD9E84D; }
        .btn.btn-arrow.btn-arrow-bg::after{background: $columbiaBlue; }
    }
}


.modal-w-900{ 
    @include breakpoint('md', min) { max-width: 700px;}
    @include breakpoint('lg', min) { max-width: 900px;}
}


.modal-backdrop{ background: $body_color; 
  &.show{ opacity: 0.6;}
}

.custom-modal{
    .modal-body{ padding: 45px 40px 45px 45px;
      @include breakpoint('sm', max) { padding: 20px;}
    }
    .modal-content{ border: none; box-shadow: 0px 3px 6px #00000033; border-radius: 8px;}
   .btn-close{ position: absolute;  opacity: 1; background-image: none; padding: 0; top:12px; right:13px; width: auto; height: auto; z-index: 2; 
    @include breakpoint('sm', max) { 
        top: 0px;
        right: 6px;
        width: 14px;
    }
   }
  
   .app-left-panel{ padding-right: 45px; 
      @include breakpoint('lg', max) {padding-right: 0px; padding-bottom: 45px;  }
   }
   .app-details{ 
      .media-body{ margin-left: 20px; }
   }

  .details-bottom-sec{  border-top: 2px solid  $white_smoke; padding-top: 15px; }
  .app-img-wrap{ position: relative; height: 100%;
    &::before{ opacity: 0.8; border-radius: 10px; background: transparent linear-gradient(142deg, #F49223 $secondary 0%, #106DB3 100%) 0% 0% no-repeat padding-box; @include afterbefore();}
    img{ max-height: 400px;}
   }
  .product-size-list{ gap: 13px; }

  //  .scrollable-sec{max-height: 305px; overflow-y: auto; padding-right:5px;}

}



// .product-item{ display: none; }



// .loader {
//   @include round(12px);
//   display: block;
//   margin:15px auto;
//   position: relative;
//   color: $body_color;
//   box-sizing: border-box;
//   animation: animloader 1s linear infinite alternate;
// }

// @keyframes animloader {
//   0% {
//     box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
//   }
//   33% {
//     box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
//   }
//   66% {
//     box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
//   }
//   100% {
//     box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
//   }
// }

.loader {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: block;
  margin:16px auto;
  position: relative;
  background: $body_color;
  box-shadow: -24px 0 $body_color, 24px 0 $body_color, 48px 0 $body_color, 72px 0 $body_color;
  box-sizing: border-box;
  animation: shadowPulse 3s linear infinite;
}

@keyframes shadowPulse {
  20% {
    background: $body_color;
    box-shadow: -24px 0 $secondary, 24px 0 $body_color , 48px 0 $body_color, 72px 0 $body_color;
  }
  40% {
    background: $secondary;
    box-shadow: -24px 0 $secondary, 24px 0 $body_color , 48px 0 $body_color, 72px 0 $body_color;
  }
  60% {
    background: $body_color;
    box-shadow: -24px 0 $body_color, 24px 0 $secondary, 48px 0 $body_color, 72px 0 $body_color;
  }
  80% {
    background: $body_color;
    box-shadow: -24px 0 $body_color, 24px 0 $body_color , 48px 0 $secondary, 72px 0 $body_color;
  }
  100% {
    background: $body_color;
    box-shadow: -24px 0 $body_color, 24px 0 $body_color , 48px 0 $body_color, 72px 0 $secondary;
  }
}
   