.banner-section-inner{
    .banner{ height: 260px; overflow: hidden;
        .banner-img-wrap{
            figure{  height: 100%; padding-top: 0; 
                img{ border-bottom-left-radius: 38px 89%; border-top-left-radius: 10px 23px;}
            }
            &::after{ @include afterbefore(); background: url(../images/Line.png) no-repeat; height: 100%; width: 110px; z-index: 2;  right: auto;
                background-size: contain;  transform: rotateX(0deg); width: 45px; left: -4px;}
        }
        &::after{ display: none;}
        &::before{background: transparent linear-gradient(237deg, #106DB3 0%, #08375A 100%) 0% 0% no-repeat padding-box; width: 55%; }
        .banner-text {
            padding: 20px 45px 50px 50px;
        }
    }  
    .breadcrumb-item{ color: $columbiaBlue;
        a{color: $columbiaBlue;} 
        &::after{content: "/";     padding-left: .25rem;}
        &.active{ color: $columbiaBlue; }
    }
}


.question-section{
    .media{ padding: 60px 150px 60px 60px; 
       .media-img{ margin-right: 30px;
          @include breakpoint('md', max) { width: 100%; } 
       }
       @include breakpoint('lg', max) { padding: 30px;  }
       @include breakpoint('sm', max) { padding: 20px;  }
    }
}


.feedback-section{
    .media{ padding: 60px 50px 60px 60px; 
        .media-img{ margin-right: 30px;
           @include breakpoint('md', max) { width: 100%; } 
        }
        @include breakpoint('lg', max) { padding: 30px;  }
        @include breakpoint('sm', max) { padding: 20px;  }
     }
}