.enquiry-img-wrap{ max-width: 500px; 
    img{ left: -15px; bottom: -10.5%; top:auto; }
    &::before{ @include afterbefore(); right: auto; bottom: 3%; width: 100%; max-width: 485px;  border-radius: 14px;
         @include customLinearGradient(225deg, $columbiaBlue 0%, $primary 100%);
    }
}

.enquiry-form{ max-width: 613px;
    @include breakpoint('md', max) { margin-top: 70px; }
    .form-group{ position: relative;
        label{
            &.form-label{ margin-bottom: 12px; line-height: 1;  }
        }
        label , span{ 
            &.error{ position: absolute; bottom: -24px; left: 0;}
        }
        .custom-form-select{
            &.error{
                ~ .select2-container{ margin-bottom: 10px; }
                ~ span {
                    &.error{
                        bottom: -14px;
                    }
                }
            }
        }
        
    }
}

