.enquiry-img-wrap{ max-width: 500px; 
    img{ left: -15px; bottom: -10.5%; top:auto; }
    &::before{ @include afterbefore(); right: auto; bottom: 3%; width: 100%; max-width: 485px;  border-radius: 14px;
         @include customLinearGradient(225deg, $columbiaBlue 0%, $primary 100%);
    }
}

.enquiry-form{ max-width: 613px;
    @include breakpoint('md', max) { margin-top: 70px; }
    .form-group{ position: relative;
        label{
            &.form-label{ margin-bottom: 12px; line-height: 1;  }
        }
        label , span{ 
            &.error{ position: absolute; bottom: -21px; left: 0;}
        }
        .custom-form-select{
            &.error{
                ~ .select2-container{ margin-bottom: 10px; }
                ~ span {
                    &.error{
                        bottom: -14px;
                    }
                }
            }
        }
        
    }
}

// multi-step-form
  .multi-step-form {	
	fieldset { background-color: $white_smoke; border-radius: 10px;
        &:first-child{ border-top-left-radius: 0;}
		display: none;
		&:first-of-type { display: block; }
		&.hidden { display: none; }
		&.visible { display: block; }
	}
	
	.steps {
		button { font-size: $fontP22; color: $body_color; padding: 18px  30px; line-height: 1; border: 0; background-color: transparent;
            &.active[disabled]{ background-color: $white_smoke; font-weight: 600; color: $body_color; border-color: $white_smoke $white_smoke transparent;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px; 
            }
            &:hover{ border-color: transparent;}
        }
	}
}

