// ========================== faq
.faq-section{
  .accordion-item:first-of-type , .accordion-item:last-of-type{ border-radius: 0px;}
    .accordion{counter-reset: section; 
        .accordion-item{  background-color: transparent; border: none; box-shadow: inset 0px -2px 0px $body_color;
          .accordion-button{ box-shadow: none;  border-radius: 0px;  font-size: $fonth5; margin-bottom: 0px; line-height: 1; min-height: 72px;
              position: relative; padding:14px 20px 14px 84px; background-color: $body_color; color: $white_color; font-weight: bold;
              @include breakpoint('md', max) { padding-left: 64px;}
               &:after {position: absolute;  left: 30px; top:0; bottom: 0; width: 20px; height: 20px; content: ""; 
                background: url(../images/icon/Icon-feather-minus.svg) no-repeat center; display: flex; align-items: center; 
                margin: auto;  
                @include breakpoint('md', max) { left: 20px;}
              }
            &.collapsed{background-color: transparent;  border-radius: 0px; color: $body_color; 
                &:after { content: ""; background-image: url(../images/icon/Icon-feather-plus.svg) ; }
            }     
          }
          .accordion-body{ padding: 30px 50px 50px 84px; margin-bottom: 0;
            @include breakpoint('md', max) { padding: 20px 20px 30px 64px;}
          }
       }
    }
}
