
.icon-box-wraper{ text-align: center; width: calc(50% - 0.5rem); max-width: 180px; padding: 20px 0;
    .icon-box-img{ width: 120px; position: relative; margin: 0 auto;  text-align: center; padding: 12px 5px 0;
        &::before{ position: absolute; left: 0; right: 0; top:0; background-color: $apricotLight; width: 100%; height: 90px; border-radius: 14px; content: "";  
            @include breakpoint('lg', max) { height: 76px; }
        }
        figure{ position: relative; z-index: 1; max-width: 100px; }
        img:hover{ 
            // filter: invert(100%); 
            filter: brightness(108%) saturate(85%) hue-rotate(359deg) invert(1);
            
        }
        @include breakpoint('lg', max) { width: 100px; padding: 10px 8px 0;}
    }
    .icon-box-text{ margin-top: 16px;  
       .font-18{ line-height: 20px; }
    }
     @include breakpoint('md', max) { max-width: 160px; }
}



// section-benefits
.section-benefits{ padding-top: 60px; padding-bottom: 60px;  position: relative;
    @include breakpoint('xl', max) { padding-top: 30px; padding-bottom: 30px;   }
    .benefits-text-holder , .benefits-product-img{ z-index: 1; position: relative;}
    .benefits-product-img{ padding-left: 89px; 
        @include breakpoint('xl', max) {padding-left: 50px; }
    }
    .benefits-text-holder { padding-left: 60px; 
        @include breakpoint('xl', max) { padding-left: 30px;  }
        @include breakpoint('md', max) { padding: 35% 20px 30px; margin-top: -30%;
           border-radius: 14px; 
           @include customLinearGradient(180deg, $columbiaBlue 0%, $primary 46%, $primary 46%, $body_color 100%);
           z-index: 0;
        }
    }
    .font-18 { line-height: 1}
    .media-icon{ @include round(50px , 6px); @include flex-center(); margin-right: 8px;
       img{ width: 38px;
          @include breakpoint('lg', max) { width: 30px; }
       }
       @include breakpoint('lg', max) { @include round(40px , 6px); }
    }
    .benefits-list{gap: 20px 30px; margin-top: 50px; margin-right: -24px;
        @include breakpoint('lg', max) { gap: 20px 20px;  margin-top: 30px;}
       
    }
    // .benefits-product-img{ position: absolute; right: 0; top:0;}
    &::before{ @include afterbefore(); border-radius: 14px; left: 0.75rem; right: auto; width: 83.33333333%;
       
        @include customLinearGradient(252deg, $columbiaBlue 0%, $primary 46%, $primary 46%, $body_color 100%);
        @include breakpoint('md', max) {
            display: none;
        }
    }
   
}

.section-market{
     .text-wrap-max-w{ max-width: 500px; }
      .fs-2{  
        @include breakpoint('md', min) { max-width: 86%; }
      }
     .para-wrap{ margin:32px 0 40px }
}


// testimonial-section
.testimonial-section{
    .cards{ 
        &-img{ 
            &:after{ @include afterbefore(); background-color: rgba(0, 0, 0, 0.3); border-radius: 8px; } 
            .round-btn{ @include round(62px); position: absolute; left: 0; right: 0; top:0; bottom: 0; margin: auto; z-index: 1;
                    img , svg{ max-width: 20px; margin-left: 4px;}
                    @include breakpoint('xl', max) {@include round(42px);
                        img , svg{ max-width: 16px; }
                    }
                &:hover{
                    svg{ 
                        path {stroke: $apricot; }
                    }
                }
                
            }
            figure{ height: 100%; padding-top: 63%;
                @include breakpoint('md', max) { padding-top: 70%;}
                @include breakpoint('sm', max) { padding-top: 63%;}
                img{ border-radius: 8px;  object-fit: cover; object-position: center;}
            }
       }
       
    }
    .slider-w-sm{ width: 15.5%;
        @include breakpoint('lg', max) {width: 18.5%;}
        @include breakpoint('md', max) {width: 22.5%;}
        @include breakpoint('sm', max) { width: calc( 40% - 16px); }
    
    }
    .slider-w-lg{ width: 39.5%;
        @include breakpoint('lg', max) {width: 45.5%;}
        @include breakpoint('md', max) {width: 48.5%;}
        @include breakpoint('sm', max) {width: 100%;}
    }

    // swiper
    .swiper-pagination{ bottom: -35px;
        .swiper-pagination-bullet{ background-color: $davys_gray;  border: none;
            &-active{ background-color: $primary; }
        }
     }
    .swiper-button-prev , .swiper-button-next{ opacity: 0;
        @include breakpoint('md', max) { display: none; }
    }
    &:hover{ 
        .swiper-button-prev , .swiper-button-next{ opacity: 1;
            &.swiper-button-disabled{ opacity: 0;}
        }
    }

}
.lightbox{
    @include breakpoint('lg', min) {
        .modal-xl {
            max-width: 1000px;
        }
    }
    // .btn-close{ display: none;}
    .ratio{ background-color: transparent !important; }
}


//  ==================================  news-event
.news-event-section{}
.cards{ border: 0px;
    &:hover{box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16); transition: all 0.5s;
    }
    &-img{border-radius: 8px 8px 0 0; 
        figure{padding-top: 64%;
            @include breakpoint('lg', max) {padding-top: 80%;}
            @include breakpoint('md', max) {padding-top: 64%;}
         }
    }
    &-body{ padding: 20px 70px 0px 16px;
        @include breakpoint('lg', max) { padding-right: 55px;} 
        .heading-3{line-height: 1.45; 
            a{ text-decoration: none; color: $black;}
        }
    }
    &-footer{ padding: 0px 70px 16px 16px;
        p{letter-spacing: 0.07px; font-size: 14px; font-weight: 600; color: #5C5C5C; margin-bottom: 4px;}
    }
    .round-btn{@include round(30px); background-color: $apricot;  color: $body_color;  position: absolute; right: 20px; bottom: 20px; font-size: 14px;
    }
}
.events-cards{
    &:hover{
        .round-btn{background-color: $flame; color: $white; }
    }
}

.event-list{ 
    .cards{
        &-body{ padding: 20px 20px;}
        &-footer{ padding-left: 20px;}
        &-img{
          figure{ padding-top: 62.3%;}
        }
    }
}



//  ==================================  service-section
.service-section{
   .box-wrapper{ position: relative; height: 100%; overflow: hidden; padding: 44px 43px; color: $white; min-height: 320px; 
    display: flex; align-items: center;
      @include breakpoint('xxl', max) { padding: 44px 20px;} 
      @include breakpoint('xl', max) { padding: 20px;}  
      @include breakpoint('sm', max) { padding: 0; }
      .box-wrapper-img-wrap{ position: absolute; max-width: 46%; 
        @include breakpoint('xl', max) { max-width: 40%; }
        @include breakpoint('sm', max) { position: relative}
      }
      .text-wrap-max-w{ 
        @include breakpoint('sm', max) {padding: 25px 20px 15px; }
      }
      &-left{ 
        .box-wrapper-img-wrap{ max-width: 47%; right: -4%; bottom: -5%; 
            @include breakpoint('xl', max) { max-width: 41%; }
            @include breakpoint('sm', max) { margin-left: auto;}
        }
        @include breakpoint('xl', min) {
            .text-wrap-max-w{ max-width: 303px; 
                .fs-5{ max-width: 270px;}
            }
         }
      }
      &-right{
        .text-wrap-max-w{ margin-left: auto; }
        .box-wrapper-img-wrap{ left: -4%; bottom: -5%; }
        @include breakpoint('xl', min) {
            .text-wrap-max-w{ max-width: 294px; }
         }
      }

      &.bg-gradient-primary{
        @include customLinearGradient(99deg, $columbiaBlue 0%, $primary 46%, $primary 46%, $body_color 100%);
        @include breakpoint('sm', max) {
            @include customLinearGradient(-45deg, $columbiaBlue 0%, $primary 46%, $primary 46%, $body_color 100%);
        }
      }
      &.bg-gradient-secondary{ 
         @include breakpoint('sm', max) {
            @include customLinearGradient(0deg, $apricot 0%, $secondary 46%, $secondary 46%, $flame 100%);
        }
      }
   }

}