// Custom radio button start
// radio design check style
.check-style{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        &+ label{
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: $black;
            .check-icon{ position: absolute; left: 0; top: 0; @include round(18px);border: 1px solid $black;
             background: $white; font-size: 10px; color: $white; @include flex-center();
            //  .fa-check{ display: none;}
            }
        }
    }

    [type="radio"]:not(:checked) + label{
        .check-icon{ 
            .fa-check{ display: none;}
        }
        
    }
    [type="radio"]:checked + label{
        .check-icon{ background: $primary;  border-color: $primary;
            
            .fa-check{ display: block;}
        }
    }
}

// Custom radio button end

// radio design box style
.check-box{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        & ~ label{
            position: relative;
            cursor: pointer;
            font-size: 20px;
            line-height: 1;
            display: inline-block;
            color: $davys_gray;
            border: 2px solid $black;
            border-radius: 6px;
            padding: 12.5px 10px;
            background: $white;  
            margin-bottom: 0;          
        }
    }
    [type="radio"]:checked ~ label{
        background: $primary;
        border-color: $primary; color: $white;
        &::before{ background: $primary;  border-color: $primary;}
    }
    &.min-w-64 label{ min-width: 64px; text-align: center;}
    &.min-w-80 label{ min-width: 80px; text-align: center;}

}

// select 2 style
.select2-container .select2-selection--single{ height: 48px;}
.select2-container .select2-selection--single .select2-selection__rendered{ padding-left: 16px; padding-right: 36px;}
.select-black {

}
.select2-container--default{ 
    .select2-selection{  border-color: $davys_gray; border-width: 2px;
        .select2-selection__arrow { top:0; bottom: 0; margin: auto; width: 14px; right: 16px;
            b{ position: relative;  left: inherit; top: inherit; border: 0;  width: 100%; margin-left: inherit; margin-top: inherit;
                 height: 10px; 
                &::before{
                    content: "\f107";
                    font-family: "Font Awesome 6 Free";
                    color: $davys_gray;
                }
           }
        }
        .select2-selection__rendered{color: $davys_gray;}
        &.select2-selection--single{
           .select2-selection__rendered{ line-height: 45px;}
        }
        &.select2-selection--multiple{ padding: 6px 10px 4px; 
            .select2-selection__rendered{ padding: 0 0px;}
            &:before {
                content: ' ';
                background: url(../images/icon/arrow-down-black.svg) no-repeat ;
                width: 18px;
                height: 11px;
                position: absolute;
                top: 50%;
                right: 18px;
                margin-top: -4px;
                background-size: contain;
                transform: scaleX(0.9);
            }
            
        }
        
    }

    &.select2-container--open{
        .select2-selection { border-radius: 4px !important;
           .select2-selection__arrow b::before{  content: "\f106"; }
           &.select2-selection--multiple{
            &:before {
                transform:  rotate(180deg) scaleX(0.9);
            }
           }
        }

    }
    .select2-dropdown{ border: 2px solid $davys_gray; padding: 10px 5px 10px 10px; border-radius: 6px;
        [aria-disabled=true] { display: none;}
        &.select2-dropdown--above{ top: -6px; }
        &.select2-dropdown--below{ top: 6px;}
    }
    .select2-results__option{ color: $body_color; font-weight: 600; line-height: 1.2; padding: 8px; 
        &.select2-results__option--highlighted{ background-color: transparent; color: $body_color;}
        
        &[aria-selected=true]{ color: $secondary; background-color: transparent;}
    }
    // .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    //     border-bottom-left-radius: 0;
    //     border-bottom-right-radius: 0;
    // }
    &.select2-container--focus .select2-selection--multiple{ border-width: 2px;}
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: $columbiaBlue; color: $body-color; border-color: $columbiaBlue ;
}

.select-black{
    .select2-selection { border-color: $black;
        .select2-selection__arrow { 
            b:before{
                color: $black; font-size: 18px;
            }
        }
    }
}


// bootstrap radio button
.form-check-input{ border: 2px solid $davys_gray; width: 18px; height: 18px;
    &:checked{ background-color: $white; border-color: $body_color;
        &[type=radio]{  background-image: url(../images/icon/Icon-round.svg) ; }
    }
}
// bootstrap radio button


.radio-open-box{ display: none; }
.type-text-box{display: none;}

// input[type=number]
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// form-control
.form-control{ border: 2px solid black; color: $davys_gray; border-radius: 6px; padding: 0.65rem 0.75rem; }
.form-group .form-label{ font-size: clamp(16px, 1vw + 0.6rem, 22px); font-weight: 600; line-height: 1;}
.mandatory{ color: $flame;}

// select
.form-select{ color: $davys_gray; border-color: $davys_gray; border-width: 2px; height: 48px;
    // option{     line-height: 22.5;}
}
.form-group{ 
    label , span{ 
        &.error{ font-size: 14px; color: $flame; }
    }
}



