// Custom radio button start
// radio design check style
.check-style{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        &+ label{
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: $black_color;
            .check-icon{ position: absolute; left: 0; top: 0; @include round(18px);border: 1px solid $black_color;
             background: $white_color; font-size: 10px; color: $white_color; @include flex-center();
            //  .fa-check{ display: none;}
            }
        }
    }

    [type="radio"]:not(:checked) + label{
        .check-icon{ 
            .fa-check{ display: none;}
        }
        
    }
    [type="radio"]:checked + label{
        .check-icon{ background: $primary;  border-color: $primary;
            
            .fa-check{ display: block;}
        }
    }
}

// Custom radio button end

// radio design box style
.check-box{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        &+ label{
            position: relative;
            cursor: pointer;
            font-size: 20px;
            line-height: 1;
            display: inline-block;
            color: $davys_gray;
            border: 2px solid $black_color;
            border-radius: 6px;
            padding: 12.5px 10px;
            background: #fff;  
            margin-bottom: 0;          
        }
    }
    [type="radio"]:checked + label{
        background: $primary;
        border-color: $primary; color: #fff;
        &::before{ background: $primary;  border-color: $primary;}
    }
    &.min-w-64 label{ min-width: 64px; text-align: center;}
    &.min-w-80 label{ min-width: 80px; text-align: center;}

}



// form-control
.form-control{ border: 2px solid black; border-radius: 6px; padding: 0.65rem 0.75rem; }
.form-group .form-label{ font-size: clamp(16px, 1vw + 0.6rem, 22px); font-weight: 600; line-height: 1;}
.mandatory{ color: #E45B27;}



// select
.form-select{ color: $davys_gray; border-color: $davys_gray; border-width: 2px; height: 48px;
    // option{     line-height: 22.5;}
}

// select 2 style
.select2-container .select2-selection--single{ height: 48px;}
.select2-container .select2-selection--single .select2-selection__rendered{ padding-left: 16px; padding-right: 48px;}
.select2-container--default{ 
    .select2-selection--single{  border-color: $davys_gray; border-width: 2px;
        .select2-selection__arrow { top:0; bottom: 0; margin: auto; width: 14px; right: 16px;
            b{ position: relative;  left: inherit; top: inherit; border: 0;  width: 100%; margin-left: inherit; margin-top: inherit;
                 height: 10px; 
                &::before{
                    content: "\f107";
                    font-family: "Font Awesome 6 Free";
                    color: $davys_gray;
                }
           }
        }
        .select2-selection__rendered{ line-height: 45px; color: #5C5C5C;}
    }
    &.select2-container--open{
        .select2-selection--single .select2-selection__arrow b::before{  content: "\f106"; }
    }
}
// end select 
// .custom-form-select-wrap{  
//     .select2-container{ width: auto !important;}
//  }
// select end

// bootstrap radio button
.form-check-input{ border: 2px solid #5C5C5C; width: 18px; height: 18px;
    &:checked{ background-color: #fff; border-color: $body_color;
        &[type=radio]{  background-image: url(../images/icon/Icon-round.svg) ; }
    }
}
// bootstrap radio button


.radio-open-box{ display: none; }
.type-text-box{display: none;}

