// swal2-popup
.swal2-container.swal2-center.swal2-backdrop-show{ background-color:  rgba($body-color,0.6) !important; }
.swal2-popup{ box-shadow: 0px 3px 6px #00000033;  padding-bottom: 40px;     border-radius: 8px;
    .swal2-content{
        color: $body-color;
    }
    .swal2-actions{
        .btn.swal2-confirm{
            &:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg){
                box-shadow: 3px 3px 6px rgba($black,0.2)!important;
            }
        }
    }
    .swal2-icon{
        &.swal2-error{
            color: $flame;
            border-color:$flame;
            [class^=swal2-x-mark-line]{
                background-color:$flame;
            }
        }
        
    }
}