

// font-size:  rem(16)
body{ font-family: $siteFont;  background: $white_color; }
p{ font-weight: $fontBook; color: $body_color;} 
figure{ margin-bottom: 0;}
img{ width:auto; max-width:100%; height:auto; border:0;}
a{ color: $body_color; }
a:hover{ color: $primary;}



/* width */
::-webkit-scrollbar {width: 7px;  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #474747;
  border-radius: 4px;
  }