// prev-sider btn

.swiper-button-prev , .swiper-button-next{
        @include round(60px);  
        box-shadow: 3px 3px 8px rgba($body-color,0.2);
        @include transition-prefixes(0.3s); 
        background: $columbiaBlue;  
        font-size: 16px; 
        border: none;
        color: $body_color; 
        @include breakpoint('md', max) { @include round(30px);  }
        &:hover{ border-color: $secondary;}
        &:after{ display: none; }
        svg{ width: 17px; 
                @include breakpoint('md', max) {width: 9px;}
        }
        &.swiper-button-disabled{ opacity: 0;}
}
.swiper-button-prev { left: -30px; 
        @include breakpoint('md', max) {left: -15px;}
}
.swiper-button-next { right: -30px; 
        @include breakpoint('md', max) {right: -15px;}
}

.swiper-slide-height-auto{height: auto;
	& >*{height: 100%; }

}
.swiper-pagination-bullet{  @include round(16px); border: 2px solid #FFFFFFBF; background-color: #FFFFFFBF; opacity: 1;
        &-active{ background-color: $primary; }
}