@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/utilities";


// $utilities:() !default;

/* Container */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1144px,
  xxl: 1330px
);


// $utilities: map-merge(
  
//   (
//     "cursor": (
//       property: cursor,      
//       responsive: true,
//       values: auto pointer grab,
//     )
//   ), $utilities
// );

// font-weight start
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;


// font-weight start



$azul :              #106DB3;
$carrotOrange :      #F49223;
$prussianBlue:       #092A49;
$columbiaBlue :      #BDD9E8;
$apricot:            #FDCFAE;
$flame :             #E45B27;
$davys_gray :        #5C5C5C;
$white_smoke:        #F2F2F2;
$black_color:        #000;
$white_color:        #fff;
$apricotLight:       #FDCFAE4D;


$body-color: $prussianBlue;



$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;


$primary:       $azul;
$secondary:     $carrotOrange ;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$utilities: (
  "color": (
    property: color,
    class: text,
    values: map-merge(
      $theme-colors,
      (
        "white": $white,
        "body": $body-color,
        "muted": $text-muted,
        "black-50": rgba($black, .5),
        "white-50": rgba($white, .5),
        "reset": inherit,
      )
    )
  ),
  // "background-color": (
  //     property: background-color,
  //     class: bg,
  //     values: map-merge(
  //       $theme-colors,
  //       (
  //         "body": $body-bg,
  //         "white": $white,
  //         "transparent": transparent
  //       )
  //     )
  //   ),

  "font-weight": (
        property: font-weight,
        class: fw,
        values: (
          light: $font-weight-light,
          lighter: $font-weight-lighter,
          normal: $font-weight-normal,
          medium: $font-weight-medium,
          semibold: $font-weight-semibold,
          bold: $font-weight-bold,
          bolder: $font-weight-bolder
        )
  ),

  "cursor": (
      property: cursor,      
      responsive: true,
      values: auto pointer grab,
    ),
 );
