@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/utilities";


// $utilities:() !default;

/* Container */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1144px,
  xxl: 1330px
);






$utilities: map-merge(
  
  (
    "cursor": (
      property: cursor,      
      responsive: true,
      values: auto pointer grab,
    )
  ), $utilities
);

// font-weight start
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;
$utilities: (
  "font-weight": (
        property: font-weight,
        class: fw,
        values: (
          light: $font-weight-light,
          lighter: $font-weight-lighter,
          normal: $font-weight-normal,
          medium: $font-weight-medium,
          semibold: $font-weight-semibold,
          bold: $font-weight-bold,
          bolder: $font-weight-bolder
        )
      ),
);

// font-weight start



// $sitecolor: #f00;
// $primary: $sitecolor;
// $theme-colors: (
//   "primary": $primary,
// );

// $utilities: (
//     "color": (
//         property: color,
//         class: text,
//         values: map-merge(
//           $theme-colors,
//           (
//             "primary": $primary,
//             // "red": $primary,
//             // "body": $body-color,
//             // "muted": $text-muted,
//             // "black-50": rgba($black, .5),
//             // "white-50": rgba($white, .5),
//             "reset": inherit,
//           )
//         )
//       ),
//  );
