.banner{ border-radius: 14px;  position: relative;  @include customLinearGradient(314deg, $body_color 0%, $primary 100%);
    .swiper-slide{
        &::before{
            @include customLinearGradient(314deg, $body_color 0%, $primary 100%);
            border-radius: 14px 0 0 14px; content: ""; position: absolute; left: 0; top:0; bottom: 0; width: 50%; z-index: 1; 
            @include breakpoint('lg', max) { display: none; }
        }
       > *{ z-index: 1;}
    }
    &-text-wrap{ 
        @include breakpoint('lg', min) {
           position: relative; z-index: 1; 
        }
        @include breakpoint('lg', max) {
           @include customLinearGradient(347deg, $body_color 0%, $primary 100%);
           border-radius: 0 0 14px 14px;
           margin-top: 0px;
        }
    }
    &-text{ padding: 20px 60px 20px 60px; 
        .fs-6{ line-height: 1.28;}
        
        @include breakpoint('xl', max) { padding: 30px 20px;}
        @include breakpoint('lg', max) { padding: 60px 20px 70px;}
    }
    &-img-wrap{ position: relative;  border-radius: 0 14px 14px; z-index: 1;
        @include breakpoint('lg', max) {border-radius: 14px 14px 0 0;}
        figure{ padding-top: 50%;
            @include breakpoint('lg', min) {  height: 100%; padding-top: 72%; }
            // img{  
            //     @include breakpoint('lg', min) {border-top-left-radius:68px 100%;  }
            // }  
        }
        &::after{ @include afterbefore(); background: url(../images/line-shape.svg) no-repeat; height: 100%; width: 110px; z-index: 2; 
            right: auto;  background-size: contain;  left: 0;
            // left: 40.7%;
            @include breakpoint('lg', max) { 
                background-image: url(../images/line-shape-m.svg); width: 100%; height: 46px; right: 0; top: auto; bottom: 0; background-size: cover;
            }
        }
    }
    figure{ position: relative; 
        img{ position: absolute; left: 0; right: 0; top:0; bottom: 0; object-fit: cover; width: 100%; height: 100%;}  
    }
    .swiper-container{ border-radius: 14px; overflow: hidden;
        .swiper-slide { height: auto;
            > figure{ height: 100%; 
                img{ border-radius: 14px;}
            }
        }
    }
   
    // swiper
    &:hover{ 
        .swiper-button-prev , .swiper-button-next{ opacity: 1;
            &.swiper-button-disabled{ opacity: 0;}
        }
    }
    .swiper-button-prev , .swiper-button-next{ opacity: 0; 
        @include breakpoint('lg', max) {
            display: none;
        }
    }
    .swiper-pagination{ bottom: 24px; text-align: left; padding-left: 14px;
        &.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 6px; }
    }
    
}
.banner-section-home{
    .banner{
        &-text-wrap{
            @include breakpoint('xl', min) {min-height: 550px;}
            @include breakpoint('lg', max) {
               
                border-radius: 0 0 14px 14px;
                margin-top: -30px;
             }
        }
        .element {
            @include breakpoint('lg', min) {
            // -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
            clip-path: polygon( 1.041% 20.864%,1.041% 20.864%,1.206% 18.713%,1.442% 16.441%,1.735% 14.101%,2.07% 11.744%,2.432% 9.423%,2.809% 7.188%,3.184% 5.091%,3.545% 3.185%,3.875% 1.52%,4.162% 0.149%,100% 0.149%,100% 100%,65.973% 100%,9.469% 100%,9.469% 100%,9.386% 99.701%,9.154% 98.871%,8.802% 97.611%,8.36% 96.023%,7.856% 94.206%,7.319% 92.263%,6.777% 90.295%,6.259% 88.402%,5.794% 86.685%,5.411% 85.246%,5.411% 85.246%,5.333% 84.823%,5.116% 83.651%,4.791% 81.874%,4.385% 79.638%,3.928% 77.086%,3.448% 74.365%,2.974% 71.619%,2.534% 68.993%,2.158% 66.632%,1.873% 64.68%,1.873% 64.68%,1.83% 64.224%,1.712% 62.958%,1.537% 61.035%,1.32% 58.609%,1.08% 55.831%,0.832% 52.855%,0.593% 49.834%,0.381% 46.92%,0.213% 44.267%,0.104% 42.027%,0.104% 42.027%,0.12% 41.598%,0.165% 40.408%,0.234% 38.601%,0.324% 36.323%,0.429% 33.718%,0.546% 30.932%,0.67% 28.108%,0.797% 25.393%,0.922% 22.93%,1.041% 20.864% );
            // -webkit-clip-path: url("#clip-shape"); /* required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path */
            // clip-path: url("#clip-shape");
            }
            @include breakpoint('md', max) {
            
                clip-path: polygon( 30.66% 99.55%,30.66% 99.55%,27.998% 99.409%,24.998% 99.145%,21.758% 98.781%,18.371% 98.341%,14.935% 97.845%,11.545% 97.318%,8.296% 96.782%,5.284% 96.259%,2.605% 95.773%,0.354% 95.345%,0.236% 0.15%,99.882% 0.15%,99.882% 90.24%,99.882% 90.24%,99.219% 90.535%,97.877% 90.967%,95.982% 91.511%,93.656% 92.137%,91.023% 92.819%,88.208% 93.529%,85.333% 94.239%,82.524% 94.922%,79.903% 95.55%,77.594% 96.096%,77.594% 96.096%,75.621% 96.578%,73.424% 97.015%,71.069% 97.407%,68.625% 97.755%,66.156% 98.059%,63.729% 98.321%,61.412% 98.54%,59.27% 98.718%,57.37% 98.854%,55.778% 98.949%,55.778% 98.949%,54.414% 99.113%,52.49% 99.247%,50.121% 99.353%,47.421% 99.434%,44.505% 99.493%,41.485% 99.533%,38.477% 99.555%,35.594% 99.564%,32.951% 99.561%,30.66% 99.55% );
            }
        }
    }
}

// ========================== banner-section-inner
.banner-section-inner{
    .banner{  overflow: hidden;
        @include breakpoint('lg', min) { height: 260px;}
        .banner-img-wrap{
            figure{  padding-top: 50%;
                 @include breakpoint('lg', min) {  height: 100%; padding-top: 0; }
                img{ border-bottom-left-radius: 38px 89%; border-top-left-radius: 10px 23px;
                    @include breakpoint('lg', max) { border-top-left-radius: 14px; border-bottom-left-radius: 0px;  }
                }
            }
            &::after{ @include afterbefore(); background: url(../images/Line.png) no-repeat; height: 100%; width: 110px; z-index: 2;  right: auto;
                background-size: contain;  transform: rotateX(0deg); width: 45px; left: -4px;
                @include breakpoint('lg', max) { display: none;}
            }
        }
        &::before{
            @include customLinearGradient(237deg, $primary 0%, #08375A 100%);
            width: 55%; }
        .banner-text {  padding: 20px 45px 50px 50px;
            @include breakpoint('sm', max) { padding: 40px 20px 30px 20px;}
        }
    }  
    .breadcrumb-item{ color: $columbiaBlue;
        a{color: $columbiaBlue;} 
        &::after{content: "/";   padding-left: .25rem;}
        &.active{ color: $columbiaBlue; }
    }
}


.element {
    // -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
    //  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
    -webkit-clip-path: url("#clip-shape"); /* required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path */
    clip-path: url("#clip-shape");
  }
