.footer-main{ background: $body_color; color: $white_color; padding: 38px 0 26px;
    a{color: $white_color;
      &:hover{ color: $secondary;}
   }
   .footer-top{ border-bottom: 1px solid #F0F0F066; padding-bottom: 8px; }
   .menu{
      li{
         a{ margin-right: 24px; text-decoration: none;
            &:hover{  color: $secondary; }
            @include breakpoint('lg', max) {margin-right: 16px;}
            @include breakpoint('sm', max) {margin-right: 12px;}
         }
         &:last-child{
            a{ margin-right: 0;}
         }
      }
   }
   .copyright{ padding-left: 20px;
      .icon-copyright{ position: absolute; left: 0; top: 4px; width: 16px;} 

   }
}
.privacy{
   .menu{
      li{
         a{color: $white_smoke;
            &:hover{ color: $secondary;}
         }
      }
   } 
}
.social-links{ font-size: 26px;
   li{margin-right: 20px;
      &:last-child{ margin-right: 0px;}
   }
}


// phone-call-wrap
.phone-call-wrap{ cursor: pointer; position: absolute; right: -15px; z-index: 99; bottom: 30px; 
   @include breakpoint('sm', max) { right: 15px;}
   .phone-no{ padding-left: 20px; transition: 0.5s all; padding-right: 65px; border-radius: 40px;  margin-right: 5px; height: 52px; display: flex; align-items: center; background: $white_color;
      opacity: 0; visibility: hidden; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
      .font-12{ font-size: 12px;}
   }
   .phone-call{  box-shadow: 5px 0px 4px #00000033;  @include round(60px); @include flex-center(); border: 5px solid $white_color; 
       @include customLinearGradient(226deg, $secondary 0%, $flame 100%);
      position: absolute; right: 0; bottom: 0;
   }
   &:hover ,  &.show{ 
      .phone-call{
         @include customLinearGradient(-226deg, $secondary 0%, $flame 100%); 
      }
      .phone-no{ opacity: 1; visibility: visible; }
   }
 
}

.call-div{ position: fixed; left: 0; right: 0; bottom: 0; z-index: 99; height: 0; }