.footer-main{ background: $body_color; color: $white_color; padding: 38px 0 26px;
    a{color: $white_color;
      &:hover{ color: $secondary_color;}
   }
   .footer-top{ border-bottom: 1px solid #F0F0F066; padding-bottom: 8px; }
   .menu{
      li{
         a{ margin-right: 24px; text-decoration: none;
            &:hover{  color: $secondary_color; }
         }
      }
   }
   .copyright{ padding-left: 20px;
      .icon-copyright{ position: absolute; left: 0; top: 4px; width: 16px;} 

   }
}
.privacy{
   .menu{
      li{
         a{color: $white_smoke;
            &:hover{ color: $secondary_color;}
         }
      }
   } 
}
.social-links{ font-size: 26px;
   li{margin-right: 20px;
      &:last-child{ margin-right: 0px;}
   }
}



.phone-call-wrap{ cursor: pointer; position: fixed; right: 6%; z-index: 99;  
   bottom: 30px; 
   .phone-no{ padding-left: 20px; transition: 0.5s all; padding-right: 65px; border-radius: 40px;  margin-right: 5px; height: 52px; display: flex; align-items: center; background: #fff;
      opacity: 0; visibility: hidden; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
      .font-12{ font-size: 12px;}
   }
   .phone-call{  box-shadow: 5px 0px 4px #00000033;  @include round(60px); @include flex-center(); border: 5px solid #fff;  background: transparent linear-gradient(226deg, #F49223 0%, #E45B27 100%) 0% 0% no-repeat padding-box;
      position: absolute; right: 0; bottom: 0;
   }
   &:hover ,  &.show{ 
      .phone-call{background: transparent linear-gradient(-226deg, #F49223 0%, #E45B27 100%) 0% 0% no-repeat padding-box; }
      .phone-no{ opacity: 1; visibility: visible; }
   }
 
}