.header-main{  background-color: #fff; 
    @include breakpoint('lg', max) { position: fixed; width: 100%; top:0; z-index: 999; }
    // header after section gap
    & + *{ margin-top: 30px;
        @include breakpoint('lg', max) {  margin-top: 130px; }
    }

    .header-desk{ padding: 0px 0 0px; box-shadow: 0px 3px 6px #0000000F; position: relative; z-index: 999;
        @include breakpoint('lg', max) {  box-shadow: 0px 3px 6px #00000029;
            padding: 16px 0;
        }
    }
    // logo
    
    .logo{ width: 131px;
        @include breakpoint('xl', max) {width: 120px;}
        a img{ max-height: 40px;
            @include breakpoint('lg', max) { max-height: 30px;}
        }
        &.tata-kosh-logo{width: 70px;}
    }
    
    .navbar{ margin-left: 50px;
        @include breakpoint('xl', max) { margin-left: 25px;}
    }

    // language dropdown 
    .lang-drop{ margin-right: 34px; 
        .dropdown-toggle{padding: 32px 12px 32px; line-height: 1; 
           &:hover{
             .drop-left-icon{
                
             }
           }
        }
        @include breakpoint('xl', max) { margin-right: 24px; 
           .btn{padding: 0; }
        }
    }
  
}


// language dropdown 
.lang-drop{ 
    &.dropdown{ 
        .dropdown-menu{ padding: 20px 25px 12px; column-gap: normal;  column-count: 2;
            li{ margin-bottom: 8px}
        }
     } 
    .btn{ @include flex-center(); }
    .drop-left-icon{ margin-right: 6px;}
    .check-style{
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            &+ label{
                padding: 5px 10px  5px 38px ; 
                border-radius: 4px;
                &::before{ top:5px; left: 10px;}
                &::after{ top: 10px; left: 15px;}
            }
        }
        [type="radio"]:checked{
            &+ label{
                background: $apricot;
            }
        }
   }
}

.header-mob{ background-color: $columbiaBlue; padding: 9.5px 0px;}