.main-menu{
    .navbar-nav{
        .nav-item{ position: relative;
            @include breakpoint('xl', max) { text-align: right;}
            .nav-link{ text-transform: uppercase; position: relative; padding: 40px 12px 37px; color: $black_color; font-size: 1rem; line-height: 1.2 !important;
                font-weight: $fontBold;   transition: all 0.3s;
                @include breakpoint('xl', max) { 
                    display: inline-block;
                }
                &:hover{ color: $secondary_color;
                    &::after{ transform: rotate(180deg); }
                }                
            }

            &:last-child{
                .nav-link{ padding-right: 0px;
                    &:hover{
                        &::before{ width: calc(100% - 30px); }
                    }
                }
            }
            .dropdown-menu{  margin-top: 0px; padding: 0;
               @include breakpoint('xl', min) { width: 270px;  display: block !important; 
                opacity: 0; visibility: hidden; top: 100%; }
                
                li{ 
                    @include breakpoint('xl', max) { text-align: right;}
                    a{ padding: 12px 17px;}
                    .dropdown-item{white-space: normal; }
                }
            }
            &.dropdown{
                &:hover{
                    .dropdown-menu{ opacity: 1; visibility: visible;  }
                }
                li{
                    a.dropdown-item{ 
                        &:hover ,  &:active , &:focus { background-color: rgba(189, 217, 232, 0.3); color: $black_color; }
                    }
                } 
            }
            &.active{
                a{color: $secondary_color;}
            }
            
        }

    }
}


@include breakpoint('xl', max) {
    .offcanvas-collapse{ position: fixed; top: 100%; bottom: 0; left: 0; width: 100%; height: 100%;  padding-right: 30px; padding-left: 30px; padding-bottom: 100px;
    padding-top: 30px; overflow-y: auto; visibility: hidden; transition: transform .3s ease-in-out, visibility .3s ease-in-out;  z-index: 1001;  background: #fffdf8;
        &.show {
            visibility: visible;
            transform: translateY(-100%);
        }
    }   
}

.main-header.sticky{
    .main-menu{ 
        .navbar-nav .nav-item.dropdown:hover {
            .nav-link{ box-shadow: none;} 
        } 
    }
}