.main-menu{
    .navbar-nav{
        .nav-item{ position: relative;
            .nav-link{ position: relative; padding: 41px 12px 37px; text-transform: uppercase;  color: $black; font-size: 1rem; 
                line-height: 1 !important; font-weight: $font-weight-semibold; transition: all 0.3s; font-stretch: semi-condensed; letter-spacing: 0.08px;
                @include breakpoint('xl', min) { font-size: 1rem;}
                @include breakpoint('xl', max) { 
                    display: inline-block; padding: 40px 8px 37px;  
                }
                @include breakpoint ('lg', min)  { 
                    font-size: 15px;
                }
                @include breakpoint('lg', max) { padding: 16px 0px;}
                &.active{ color: $secondary; } 
                &.show{
                    &::after{ transform: rotate(180deg); }
                }               
            }

            &:last-child{
                .nav-link{ padding-right: 0px;
                    &:hover{
                        &::before{ width: calc(100% - 30px); }
                    }
                }
            }
            .dropdown-menu{  margin-top: 0px; padding: 0; overflow: hidden;
                @include breakpoint('lg', min) { width: 200px;  }
                @include breakpoint('lg', max) { background-color: transparent; box-shadow: none;}
                li{ 
                    a{ padding: 12px 17px; line-height: 1; text-transform: capitalize;}
                    .dropdown-item{white-space: normal; color: $black; }
                }
            }
            &.dropdown{
                li{
                    a.dropdown-item{ 
                        &:hover ,  &:active , &:focus { background-color: rgba(189, 217, 232, 0.3); color: $black; }
                    }
                } 
            }
            &.active{
                a{color: $secondary;}
            }
            
        }

    }
}


@include breakpoint('lg', max) {
    .offcanvas-collapse{ 
        position: fixed; top: 109px; bottom: 0; left: 0; right: 0; width: 100%;  overflow-y: auto; height: calc(100% - 109px);
        visibility: hidden; z-index: 1001; 
        transition: visibility .3s ease-in-out;  
        // transition: 0.3s all;
        background: $columbiaBlue;
        
        &.show {
            visibility: visible;
            transition: visibility .3s ease-in-out;
            // transition: 0.3s all;
        }
        .navbar-nav{ margin-top: 20px;}
        .nav-address-wrap{ max-width: 720px;  padding: 0px 20px; width: 100%; height: 100%; margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start; 
        }
        .mobile-header-address-sec{ margin-top: 60px;}
    } 

}

.main-header.sticky{
    .main-menu{ 
        .navbar-nav .nav-item.dropdown:hover {
            .nav-link{ box-shadow: none;} 
        } 
    }
}

.hamburger-menu{ font-size: 16px; color: $black; display: flex; align-items: center;
    &:focus{box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);}
    &:hover{color: $black;}
    .icons{  height: 20px; width: 32px; display: block; text-align: right;
        .icon-close{display: none;}
        .icon-bar{display: inline-block; }
    }
    &[aria-expanded="true"]{
        .icons{ 
            .icon-close{ display: inline-block; }
            .icon-bar{ display: none; }
        }
    } 
}

.mobile-header-address-sec{
    .address{
        a{ text-decoration: none;}
    }
    .social-links{
        a{ color: $primary;}
    }

}